__pycache__/
data/
output/
saves/
checkpoint/
figures/
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.\ /
docs/_build/
.vscode/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#scripts
scripts/train_hdc_nonhdc*
analysis/compute*.sh